{% extends "base.html" %} {% block title %}Login {% endblock %}

{% block content %}
<form method="POST" class='form'>
    <h1>Login</h1>
    <label for="email">Email Address</label><br>
        <input
          type="email"
          id="email"
          name="email"
          required
        /><br>
        <label for="password">Password</label><br>
        <input
          type="password"
          id="password"
          name="password"
          required
        />
        
    <br><br>
    <button type="submit" class='btn'>Login</button>
  </form>
{% endblock %}